html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    background: var(--main);
    color: var(--fontColor);
    font-family: 'Shippori Antique', sans-serif;
    transition: all .2s;
}

ul, li{
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.lightTheme {
    --main:#f8f8f8;
    --darkerMain: rgba(228, 228, 228, 0.96);
    --fontColor: #222;
    --invertedFont: #D2CCA1;
}

.darkTheme {
    --main: #222;
    --darkerMain: rgba(9, 9, 9, 0.981);
    --fontColor:#D2CCA1;
    --invertedFont: #222;
}

header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    gap: 5%;
    width: 80%;
    height: 6%;
    border-bottom: var(--fontColor) solid 2px;
    position: relative;
}

main{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 5%;
    width: 90%;
    height: 80%;
    position: relative;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 6%;
    border-top: var(--fontColor) solid 2px;
}

button:hover{cursor: pointer;}

button{
    font-family: 'Shippori Antique', sans-serif;
    font-size: 2vmin;
    background: none;
    border: none;
    position: relative;
    transition: all .5s;
    color: var(--text)
}

/* NAVBAR */

header *{
    gap: 10%;
    align-items: center;
}

#name{display: flex;}

#name button{
    display: none;
    width: 20%;
    font-size: 2.6vmin;
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
}

#compName{text-align: center;}

.lSideBtn::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transform: scale(0,1);
    transition: all .5s ease-in-out;
    background: var(--fontColor);;
}

.lSideBtn:hover::before{ transform: scale(1,1); }

#lSide{
    display: flex;
    width: 50%;
}

#rSide{
    display: flex;
    margin-left: auto;
}

#cart{position: relative;}

#totalAmount{
    position: absolute;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 2vmin;
}

#navBar button{height: 70%;}

#rSide button{font-size: 20px;}

#rSide button:hover, footer button:hover{
    color: brown !important;
    transform: scale(1.5);
}

#container .mainBtn{
    box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.74);
}

.btnToggle{transform: rotate(0) !important;}
.navBarToggle{max-height: 7rem !important;} /* Added in Js */

/* MAIN */ 

.mainBtn{
    position: relative;
    padding: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainBtn:first-child{background-image: url(img/photo-1540497077202-7c8a3999166f.jpg);}
.mainBtn:nth-child(2){background-image: url(img/photo-1540496905036-5937c10647cc.jpg);}
#items .mainBtn{background-image: url(img/water\ bottle.png);}
#items .mainBtn:nth-child(2){background-image: url(img/glove.png);}
#items .mainBtn:nth-child(3){background-image: url(img/weight.png);}
#items .mainBtn:nth-child(4){background-image: url(img/tenis.png);}
#items .mainBtn{background-size: contain;}

.mainBtnInfo{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 75%;
    z-index: 1;
    background: var(--fontColor);
    color: var(--invertedFont);
    font-size: 2.3vmin;
    transition: all .5s;
}

.mainBtn:hover > .mainBtnInfo{
    top: 50%;
    transform: translate(0, -50%);
}

.mainBtn ul{
    max-height: 0;
    overflow: hidden;
    font-size: 1.7vmin;    
    transition: all .5s;
}

.mainBtn:hover ul{
    border-top: var(--invertedFont) solid 2px;
    border-bottom: var(--invertedFont) solid 2px;    
}

.mainBtn:hover ul{
    max-height: 10rem;
}

#items{
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.227);
    border: var(--fontColor) solid 1px;
    border-radius: 5px;
}

#items .mainBtn{
    height: 48%;
    width: 20%;
    box-shadow: none;
}

#items .mainBtnInfo{ border-radius: 5px; }

/* FOOTER */

#social{
    display: flex;
    gap: 20%;
    width: 50%;
}

footer button{font-size: 3vmin;}


#rights{font-size: 2vmin;}

/* CART PAGE */

#cartPage{
    display: flex;
    max-height: 0;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(48, 48, 48, 0.926); */
    width: 90%;
    height: 90%;
    opacity: 0;
    z-index: 3;
    transition: all .5s ease-in-out;
    background-color: var(--darkerMain);
    border: solid 2px var(--fontColor);
    border-radius: 10px;
}

#cartPage > button{
    position: absolute;
    left: 100%;
    top: 0;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    background-color: var(--fontColor);
    color: var(--invertedFont);
}

#cartItems{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 10px;
}

/* Product, item and amount are elements created by JavaScript */
.product{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--invertedFont);
    border: 2px solid var(--fontColor);
}

.item, .amount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.item{ justify-content: space-around; }

.amount{
    display: flex;
    justify-content: flex-end;
    gap: 20%;
}

.amount button{font-size: 3vmin;}

#totalPrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5%;
    width: 50%;
    height: 100%;
}

#p{
    font-size: 4vmin;
    padding: 1rem;
    background: var(--fontColor);
    color: var(--invertedFont);
    border: solid 2px var(--fontColor);
    border-radius: 10px;
}

.cartPageOpen{
    overflow: visible !important;
    opacity: 100 !important;
    max-height: 100% !important;
}

.cartPageClose{ max-height: 0; }


@media (max-width: 640px){
    
    /* FONT SIZE */

    .mainBtnInfo, .mainBtnInfo ul{font-size: 3vmin;}
    #cartItems{font-size: 2.5vmin;}
    #cartItems button{font-size: 4vmin;}
    #lSide button{font-size: 2.5vmin;}

    /* MAIN ADJUSTMENTS */

    body{
        height: 130vh;
    }

    main{ height: 80%;
    }

    main{
        grid-template: repeat(3, 1fr) / repeat(1, 1fr);
        gap: 2%;
    }

    #name{width: 40%;}
    
    #name button {display: initial;    }
    
    #lSide{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-height: 0;
        height: 7em;
        top: 100%;
        left: 0;
        overflow: hidden;
        position: absolute; 
        transition: all .5s;
        z-index: 2;
        background-color: var(--main);
        border-left: var(--fontColor) solid 2px;
        border-bottom: var(--fontColor) solid 2px;
        border-right: var(--fontColor) solid 2px;
        border-radius: 0 0 5px 5px;
    }

    #lSide button{
        width: 100%;
        height: 25%;
    }

    #items{grid-column: span 1;    }

    #items .mainBtn{min-width: 40%;}

    #cartPage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cartItems{
        width: 90%;
        height: 70%;
    }

    #totalPrice{height: 30%;}

    #p{
        width: 70%;
        text-align: center;
    }
}

